.section {
  grid-column: 1/13;  
}

.header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header a {
  margin-bottom: 1.2rem;
  transform: rotate(90deg);
  font-size: 1.5rem;
}

.table {
  width: 100%;
  border-spacing: 0;
  position: relative;
}

.table thead {
  background: linear-gradient( #4f4f4f, #4f4f4f3f );
}

.table td {
  border: none;
  text-align: left;
  padding: 1.3rem 1rem;
}

.table th {
  padding: 1rem;
  text-align: left;
}

.table tr {
  cursor: default;
  position: relative;
}

.table tr td {
  opacity: .7;
}

.table tbody tr:hover td {
  opacity: 1;
  color: var(--color-second);
}

.table tbody tr:hover::after {
  box-shadow: 0px 0px 0px 2px var(--color-action);
  transition: .2s;
}

.table tbody tr::after {
  content: '';
  height: 1.1rem;
  width: 1.1rem;
  background-color: var(--color-second);
  border-radius: 50%;
  position: absolute;
  top: calc(50% - .55rem);
  left: .07rem;
}

.table tbody td:first-of-type {
  padding-left: 3rem;
}

.table tbody::after {
  content: '';
  height: calc(100% - 8rem);
  width: 3px;
  background-color: var(--color-second);
  display: block ;
  position: absolute; 
  top: 5.6rem;
  left: .5rem;
}
