.section {
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.header { grid-column: 1/13;}

.titleContainer { 
  display: flex;
  gap: 2rem;
}

.titleContainer i {
  font-size: 1.7rem;
}

.title {
  font-size: 3rem;
  text-transform: capitalize;
}

.title::after {
  content: '';
  display: block;
  width: 6rem;
  height: .5rem;
  border-radius: .2rem;
  background-color: var(--color-second);
}
