.switchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: rgb(38, 38, 38);
  padding: 10px;
  border-radius: 5px;
}

.switchContainer select {
  background: none;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.switchContainer select option {
  background-color: black;
  color: white;
  line-height: 16px;
  margin: 8px;
}
