.table {
  border-spacing: 0px;
}

.table thead {
  background: linear-gradient( #4f4f4f, #4f4f4f3f );
  border: none;
}

.table th, td {
  text-align: left;
  padding: 1rem;
}

.table tbody tr th,
.table tbody tr td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.table tbody tr th {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.table tbody tr td:last-of-type {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.table tr {
  position: relative;
}

.table td:has(div) {
  position: relative;
}
